# Yarn
/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary

# Treat images as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

*.sh text eol=lf
*.bash text eol=lf
*.zsh text eol=lf