# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# compiled output
**/dist/
**/build/
**/node_modules/
**/tsconfig.tsbuildinfo


# env
**/.env
**.env.*
!**/.env.example
